.request-bar{
	display: block;
    max-width: 320px;
    margin: 20px;
    width: 30%;
    float: left;
}

.request-button:active {
	color: #31708f !important;
    background-color: #a4cee1 !important;
    border-color: #22a1c6 !important;
}
.request-button-icon {
  width: 10%;
  float: left;
  margin-top: 4px;
}
.request-button {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  margin-top: 5px;
  width: 320px;
}
.request-button-name {
  width: 90%;
  float: left;
  text-align: left;
}

.request-button {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin-top: 5px;
    width: 320px;
}

.form-head {
    background-color: #d9edf7;
    border-color: #bce8f1 ;
    color: #31708f;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 15px;
    border: 1px solid transparent;
}

.request-form {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
}