@import url(bootstrap/css/bootstrap.css);

.request-bar {
	display: block;
    max-width: 320px;
    margin: 20px;
    width: 30%;
    float: left;
}
/* request buttons */
.request-buttons {
    background: whitesmoke;
}
.request-buttons .button-row input[type='radio'] {
    display: none;
}
.request-buttons .button-row  label {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin-top: 5px;
    width: 100%;
}
.request-buttons .button-row input:checked + label {
    color: red;
}


/* request form */
.request-form-block {
    float: left;
}
#request-form .form-title {
    background-color: #d9edf7;
    color: #31708f;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #bce8f1;
}