<div>Возникла проблема с:</div>
<select name="service" ng-model="form.service" required >
    <option value="" class="" selected="selected">Not selected</option>
    <option value="{{service}}" ng-selected="service == form.service" ng-repeat="service in services">{{service}}</option>

</select>

<div>Описание проблемы:</div>
<input name="problem" class="ng-valid ng-valid-maxlength" ng-minlength="1" style="width: 500px;" ng-model="form.problem"
       placeholder="Например: Кнопка 'Отправить' не работает на главной странице" required>

<div for="info">Шаги по воспроизведению:</div>
<textarea name="description" id="info" ng-minlength="1" ng-model="form.description" required></textarea>

<button class="btn btn-primary"
        ng-disabled="(request.service.$invalid || request.problem.$invalid || request.description.$invalid)"
        ng-click="save(form)" disabled="disabled">Отправить
</button>