<div>Оборудование которое вы хотите:</div>
<input name="name" ng-model="form.name" ng-minlength="3" type="text" placeholder="E.g.: RAM 4gb, HDD 500gb" required/>

<div>Причина замены:</div>
<select name="reason" ng-model="form.reason" required>
    <option value="" class="" selected="selected">Not selected</option>
    <option value="{{reason}}" ng-selected="reason == form.reason" ng-repeat="reason in fixHardware.reasons">{{reason}}</option>
</select>

<div for="reason">Критичность:</div>
<select name="criticality" ng-model="form.criticality" required>
    <option value="" class="" selected="selected">Not selected</option>
    <option value="{{criticality}}" ng-selected="criticality == form.criticality" ng-repeat="criticality in fixHardware.criticalityLevels">{{criticality}}</option>
</select>

<div for="info">Дополнительная информация:</div>
<textarea id="info" ng-model="form.description"></textarea>

<button class="btn btn-primary"
        ng-disabled="(request.reason.$invalid || request.name.$invalid || request.criticality.$invalid)"
        ng-click="save(form)" disabled="disabled">Отправить
</button>