<div>Оборудование которое вы хотите:</div>
<input name="name" ng-model="form.name" ng-minlength="3" type="text" placeholder="E.g.: RAM 4gb, HDD 500gb" required/>

<div>Причина замены:</div>
<select name="reason" ng-model="form.reason" required>
    <option value="" class="" selected="selected">Not selected</option>
    <option value="Breakdown">Breakdown</option>
    <option value="Upgrade">Upgrade</option>
    <option value="Individual preference">Individual preference</option>
    <option value="Other">Other</option>
</select>

<div for="reason">Критичность:</div>
<select name="criticality" ng-model="form.criticality" required>
    <option value="" class="" selected="selected">Not selected</option>
    <option value="Low: nice-to-have">Low: nice-to-have</option>
    <option value="Medium: ready to be patient, but not for too long">
        Medium: ready to be patient, but not for too long
    </option>
    <option value="High: blocker for work">High: blocker for work</option>
</select>

<div for="info">Дополнительная информация:</div>
<textarea id="info" ng-model="form.description"></textarea>

<button class="btn btn-primary"
        ng-disabled="(request.reason.$invalid || request.name.$invalid || request.criticality.$invalid)"
        ng-click="save(form)" disabled="disabled">Отправить
</button>